.container h1{
  font-family: 'Tourney', cursive;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  padding:2%;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
li {
  height: 22.5rem;
  width: 23rem;
  border: 1px solid rgb(10, 2, 2);
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: black;
}
li a{
  text-decoration: none;
  color: black;
}
li a:hover{
  opacity: 0.9;
  cursor: pointer;
}
li a img{
  object-fit: cover;
  height: 14.5rem;
}
.content{
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}
.name{
  text-align: center;
  padding-bottom: 2px;
}
.back button {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none; /* Remove borders */
  padding: 12px 24px; /* Add padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 4px; /* Add rounded corners */
  text-decoration: none; /* Remove underline */
  position: absolute;
  /* top: 10%; */
  bottom: -35%;
   right: 10px;
}