<div class="container">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tourney&display=swap" rel="stylesheet">
<h1> Explore Namma Chennai With Buddy ! ❤️❤️❤️</h1>
<ul>
  <li *ngFor="let card of cards">
      <a href="{{card.url}}" class="card__link">
      <img [src]="card.image" [alt]="card.title" />
      <div class="content">
        <div class="name">
         <b> {{card.title}}</b>
        </div>
        <div class="were">
          {{card.description}}
        </div>
      </div></a>  
  </li>
</ul>
</div>