<div class="container">
    <div class="left-section">
        <div class="content">
            <h4>ABOUT COMPANY</h4>
            <b>BUDDY
                your personal companion</b>
            <p>
                BUDDY is a city tour guide for our Chennai city.This has been designed basically to help the foreigners
                who love visit Chennai.This is a opensouce website which help people to find a companion when they know
                what to do and dont know where to explore.BUDDY will help you to see interesting and important places in
                and around chennai.We would love to thank you people for choosing BUDDY.
                <br>
            <pre>
            with love ❤️
                 -Team BUDDY
                 </pre>
        </div>
    </div>
    <div class="right-section">
        <div class="image-row">
            <video autoplay loop muted plays-inline>
                <source src="../../assets/buddy.mp4" type="video/mp4">
                Sorry, your browser does not support HTML5 video.
            </video>
            <style>
                video {
                    width: 133%;
                    height: 190%;
                }
            </style>
        </div>
    </div>
</div>