<!-- <div class="container">
    <div class="hero">
    <video autoplay loop muted plays-inline class="back-video" >
        <source src="../../assets/Rocks - 31416.mp4" type="video/mp4">
    </video>
    <div class="body">
        <div class="tag">
                <p>
                    <pre>
                               Explore  NAMMA  CHENNAI  with  BUDDY!!!
                </pre>
                <!-- </p> -->
                <!-- <div class="name">
                    <pre>
            
                     CHENNAI
                        where stories never end!
                    </pre>
        </div>
        
    </div>
         -->
        
    
     <!-- <p>
        
         BUDDY will help you to explore the places you havent been before.
         Buddy is really happy to serve you at its best way.
         <marquee><b>BUDDY welcomes you to explore NAMMA CHENNAI</b></marquee>
       

     <p>
         we care for your happiness and comfort <br>
         we provide you the best travel experience.<br>
         enjoy your trip with us.<br>
         Feel unmotivated -TRAVEL ; feel confused - choose BUDDY!!
     </p> 

     <div class="developer-contact">
        <address>&copy; Create by SRK <br>
             <a href="mailto:sreerajakrishna2002@gmail.com" style="color:indianred;">sreerajakrishna2002@gmail.com</a>.<br>
            contact us at: 7871354052
        </address>
        

     </div>
    </div> -->
    <div class="container">
    <div class="left-section">
        <h1>ABOUT</h1>
      </div>
      
      <div class="right-section">
        <div class="image-row">
          <img src="../../assets/bch.jpg" alt="Image 1">
          <img src="../../assets/centrox.jpg" alt="Image 2">
        </div>
      
        <div class="image-row">
          <img src="../../assets/CHOLA.jpg" alt="Image 3">
          <img src="../../assets/eliot.jpg" alt="Image 4">
        </div>
      </div>
      </div>
      
