
.container{
  margin: 50px auto; /* added auto value to center the container horizontally */
  width: 90%;
  padding: 3%;
}
.left-section {
  background-color: lightblue;
  float: left;
  width: 30%;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding: 27px;
}
.content{
  align-items: center;
  text-align: center;
  border: 5px solid rgb(247, 246, 246);
  padding: 20px;
}
.right-section {
  position: relative;
  float: right;
  width: 30%;
  height: 70%;
  margin-right: 15.447%;
}
.image-row{
  width:"30%";
   height:"10%";
}
/* Media Queries */
@media (min-width: 1200px) {
  .container {
    width: 90%;
    height: 20%;
}
.left-section {
  width: 40%;
}
.right-section{
    width: 40%;
}
} 

