<div class="img">
<div class="text">
    <h1><br> we welcome you to use and get benefitted with our currency convertor.<br>
        The currency converter application, called Currency Converter, converts amounts from one currency to two others. You can choose to display three different currencies, euros, yen, or dollars, and enter a value in one currency to be converted into the other selected currencies.<br>
        It provides real-time exchange rates as currency rates keep on fluctuating every moment<br>
        this help people to check the exact money for their currency.<br>
        its our pleasure to help you .<br>
    </h1>
</div>
    <div class="convert">
<select [(ngModel)]="selectedCurrency">
    <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
  </select>
  <input type="text" [(ngModel)]="amount" (input)="updateConversionRate()">
  <p>{{amount * conversionRate | currency:'INR'}}</p>
  </div>
  </div>

