<div class="w-full flex flex-col justify-center items-center lg:pt-2">
    <div class="nav">
      <img src="assets/logo.jpeg" alt="logo" class="logo">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">BUDDY</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
  
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/places">Places</a>
        <a href="/login">Login</a>
        <a href="/about">About us</a>
      </div>
    </div>
  </div>
  
