<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Julee&display=swap" rel="stylesheet">
<div class="all">
<div class="head">
<h1>TOP THINGS TO DO IN CHENNAI  🛺 </h1> 
<div class="container">
    <div *ngFor="let explore of explores" class="card">
      <div class="card-title">{{explore.title}}</div>
      <div class="card-text">
        <p>{{explore.area}}</p>
        <p>{{explore.area2}}</p>
        <p>{{explore.area3}}</p>
        <p>{{explore.area4}}</p>
        <p>{{explore.area5}}</p>
        <p>{{explore.area6}}</p>

      </div>
    </div>
  </div>
</div>
</div>
  



 