

<section>
    <div class="header">
        <h1>PLAN YOUR TRIP<br>
          <h1>WHERE TO NEXT?</h1><a href="#">see all</a></h1>
    </div>
    </section>
    <div class="container">
    <div class="card">
        <mat-card class="example-card1">
            <a href="" class="l">marina</a>
            <img mat-card-image src="../../assets/marina.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Marina Beach, or simply the Marina, is a natural urban beach in Chennai, Tamil Nadu, India, along the Bay of Bengal. The beach runs from near Fort St. George in the north to Foreshore Estate in the south, a distance of 6.0 km, making it the second longest urban beach in the world, after Cox's Bazar Beach
            </mat-card-content>
            
          </mat-card>
          <mat-card class="example-card2">
            <a href=""class="l">Queens land</a>
            <img mat-card-image src="../../assets/centrox.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Queensland is an action-packed world of rides, slides and other exciting activities that includes fifty one rides. There are thirty three rides for adults and eighteen rides for children. Water rides are open from 2:00 PM to 5:00 PM. It also holds swimming pools for women and men.
              </p>
            </mat-card-content>
            
          </mat-card>
          <mat-card class="example-card3">
            <a href=""class="l">eliot</a>
            <img mat-card-image src="../../assets/eliot.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Edward Elliot's Beach, simply called as Elliot's Beach and popularly known as Besant Nagar Beach or the Bessie, is a natural urban beach located in the Besant Nagar neighbourhood of Chennai, Tamil Nadu, India.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card4">
            <a href=""class="l">Anna library</a>
            <img mat-card-image src="../../assets/lib.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Anna Centenary Library is an established state library of the Government of Tamil Nadu. It is located at Kotturpuram, Chennai. It is built at a cost of ₹172 crores. It is named after a former chief minister of Tamil Nadu, C. N. Annadurai. It was opened by the then Chief Minister of Tamil Nadu M. Karunanidhi.
              </p>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="carrd">
        <mat-card class="examplee-card5">
            <a href=""class="l">girafee</a>
            <img mat-card-image src="../../assets/giraffe.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Arignar Anna Zoological Park, also known as the Vandalur Zoo, is a zoological garden located in Vandalur, is in the southwestern part of Chennai, Tamil Nadu, about 31 kilometres from the Chennai Central and 15 kilometres from Chennai Airport. Established in 1855, it is the first public zoo in India
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="examplee-card6">
            <a href=""class="l">mall</a>
            <img mat-card-image src="../../assets/inside-view-ea-mall.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Express Avenue is a shopping mall in Chennai promoted by Express Infrastructure, A division of Express Newspapers Pvt. Ltd. It is home to the largest gaming arcade in South India. Built at a cost of ₹7,500 million, the mall is spread over 1,750,000-square-foot, including 900,000-square-foot of leasable area.
              </p>
            </mat-card-content>
            
        </mat-card>
         
            <mat-card class="examplee-card7">
                <a href=""class="l">Santhome</a>
                <img mat-card-image src="../../assets/santhome.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    San Thome Church, officially known as St Thomas Cathedral Basilica and National Shrine of Saint Thomas, is a minor basilica of the Catholic Church in India, at the Santhome neighbourhood of Chennai, in Tamil Nadu
                  </p>
                </mat-card-content>
                
              </mat-card>
                <mat-card class="examplee-card8">
                    <a href=""class="l">vgp</a>
                    <img mat-card-image src="../../assets/vgp.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        VGP Universal Kingdom is an amusement park located in East Coast Road in Chennai, Tamil Nadu, India. VGP Universal kingdom, spread over 44 verdant acres provides several fun and adventure rides for children, youth and adults, including Attractions such as our very own Statue Man, Tamil Nadu's first Snow park, Petting Zoo, Beach Live Shows, Paneer fort, a massive water complex and more
                      </p>
                    </mat-card-content>
                    
                  </mat-card>
                  </div>
                  </div>
      
