
.header{
    justify-content: center;
    align-items: center;
    font-size: larger;
    position: relative;
    height: 18vh;
}
.header h1{
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: larger;
    position: relative;
    color: rgb(199, 117, 84);
}
 .header a{ 
    position:absolute;
    align-items: center;
    justify-content: center; 
}
 .container{
    position: relative;
    height: 65vh;
    width: 100%;
} 
.example-card1 {
    max-width: 250px;
    max-height: 450px;
    background-color: blanchedalmond;
    border-radius: 25px;
  }
  .example-card2 {
    max-width: 250px;
    max-height: 450px;
    background-color: blanchedalmond;
    border-radius: 25px;
  }
  .example-card3 {
    max-width: 250px;
    max-height: 450px;
    background-color: blanchedalmond;
    border-radius: 25px;
  }
  .example-card4 {
    max-width: 250px;
    max-height: 450px;
    background-color: blanchedalmond;
    border-radius: 25px;
     box-shadow:aliceblue
  }
 
  .card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
  }
  .card a{
    align-items: center;
    justify-content: center;
    
  }
  .examplee-card5 {
    max-width: 250px;
    background-color: blanchedalmond;
    border-radius: 25px;
  }
  .examplee-card6 {
    max-width: 250px;
    background-color: blanchedalmond;
    border-radius: 25px;
  }
  .examplee-card7 {
    max-width: 250px;
    background-color: blanchedalmond;
    border-radius: 25px;
  }
  .examplee-card8 {
    max-width: 250px;
    background-color: blanchedalmond;
    border-radius: 25px;
  }
.carrd{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;

    /* margin-top: 5px; */
}.carrd a{
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .l{
    text-align:center;
  }