
<div class="whole">
  <div class="container">
        <div class="column">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="input">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>
                        <div class="input">
                          <label for="exampleInputEmail1" class="form-label">     Email   -</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <div class="input">
                          <label for="exampleInputPassword1" class="form-label">Password </label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <button type="button" class="btn btn-info" (click)="login()">Login</button>
                        <div class="row">
                            <div class="col">
                                <a routerLink="/register" style="text-decoration: none;">Need Account ? <span class="text-danger">Register</span></a>
                            </div>
                            <div class="forgetpassword">
                                <a href="/forgot-password" class="text-dark" style="text-decoration: none;"> Forgot Password ? </a>
                            </div>
                        </div>
                        <div class="cols">
                            <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
                                <div class="card shadow text-center">
                                    <div class="gimg">
                                        <img src="../../assets/download.png" alt="" height="15px" width="20px"> Sign In with Google
                                    </div>
                                </div>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>










