<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
<br>
<div class="all">
  <h1>Discover a new world of fun and excitement</h1>
<ul>
  <li *ngFor="let theme of themes">
    <div class="image">
      <img [src]="theme.image" [alt]="theme.title" />
    </div>  
      <div class="content">
        <div class="name">
          {{theme.title}}
        </div>
        <div class="were">
        
          {{theme.description}} <br>
          <br>
          <em>{{theme.location}}</em>
          <br>
          <br>
          {{theme.time}}
          <br>
          <br>
          {{theme.entryfee}}
        </div>
      </div>
  </li>
</ul>
</div>