<br>
<div class="all">
  <h1>
    The clothing  you  choose to wear expresses your personality and individuality, and clothing stores help you find the perfect outfit that reflects your style.🛍️
  </h1>
<ul>
  <li *ngFor="let roof of roofs">
    <div class="image">
      <img [src]="roof.image" [alt]="roof.title" />
    </div>  
      <div class="content">
        <div class="name">
          {{roof.title}}
        </div>
        <div class="were">
          {{roof.description}}
          {{roof.phone}}
          {{roof.address}}
        </div>
      </div>
  </li>
</ul>
</div>
