<h1>--- TOP HOTELS IN AND AROUND CHENNAI ---</h1>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="cards">
    <div *ngFor="let hotel of hotels">
        <div class="card">
            <img class="card__image" src={{hotel.image}} alt="">
            <div class="card__content">
                <h3>{{hotel.title}}</h3>
                <p>
                    {{hotel.description}}
                </p>
                <address>
                    {{hotel.address}}
                </address>
                <a href="{{hotel.phone}}">Phone: {{hotel.phone}}</a>
            </div>
            <div class="card__info">
                <div>
                    <fa-icon [icon]="faThumbsUp"></fa-icon> {{ hotel.thumb_up }} likes
                </div>
                <div>
                    <a href="{{hotel.url}}" class="card__link">Visit Me!</a>
                </div>
                <div class="button">
                    <button (click)="redirectToOtherPage()">Ola Services</button>
                </div>
            </div>
        </div>
    </div>
</div>