.box {
    width: 60%;
    height: 28%;
    text-align: center;
    background-color: lightgray;
    line-height: 30%;
    box-sizing: border-box;
    border-radius: 25px;
  }
  .box p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(110, 21, 21);
   
  }
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
    position: relative;
    width: 100%;
    padding-bottom: 2%;
    gap: 20px; 
    background-image: url('https://media.istockphoto.com/id/157283712/photo/fall-leaves.jpg?s=612x612&w=0&k=20&c=qV3xZ28U8bZe_ZCP6nhJUgAwmkTpp5dzRPlSDAo-Hhg=');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .box button{
    margin-bottom: 2px;
    height: 21%;
    width: 14%;
    border-radius: 48%;
    background-color: black;
    color: white;
  }
  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 20%;
    height: 50%;
  }
  .box{
    width: 50%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 30%;
    height: 70%;
  }
  .box {
    width: 60%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 40%;
    height: 80%;
  }
  .box {
    width: 50%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 20%;
    height: 50%;
}
  }
  .box {
    width: 80%;
  }