<style>
    div {
      position:relative;
  width: 500px;
  height: 500px;
}
svg {
  width: 200px;
  height: 200px;
}
</style>
  <div id="container">
    <div class="box">
      <h2>CURRENCY CONVERTER</h2>
      <h4> <i>It provides real-time exchange rates as currency rates keep on fluctuating every moment.</i>This helps our foreign passangers to know how much they are spending in their own currency.People who are new to this place may have a chance to learn about the currencies</h4>
      <button type="button" class="button" [routerLink]="'/convert'">CONVERT</button>
    </div>
    <div class="box">
        <h2>MAPS</h2>
        <h4>It provides real-time exchange rates as currency rates keep on fluctuating every moment.</h4>
        <button type="button" class="button" [routerLink]="'/maps'">CHECK</button>
    </div>
    <div class="box">
        <h2>FACTS ABOUT CHENNAI</h2>
        <h4>Here are some interesting facts about namma chennai.
          Don't miss it! Have a look on it.
          <pre>
          With love,
               BUDDY
          </pre>
        </h4>
        <button type="button" class="button" [routerLink]="'/facts'">CLICK</button>
    </div>
  </div>
  
  
