<div id="container">
    <div class="box">
      <h2>CURRENCY CONVERTER</h2>
      <h4> <i>It provides real-time exchange rates as currency rates keep on fluctuating every moment.</i>This helps our foreign passangers to know how much they are spending in their own currency.</h4>
      <button type="button" class="button" [routerLink]="'/convert'">CONVERT</button>
    </div>
    <div class="box">
        <h2>TOP INTERESTING THINGS TO DO IN CHENNAI</h2>
        <h4>It provides real-time exchange rates as currency rates keep on fluctuating every moment.</h4>
        <button type="button" class="button" [routerLink]="'/things'">CHECK</button>
    </div>
    <div class="box">
        <h2>FACTS ABOUT CHENNAI</h2>
        <h4>Here are some interesting facts about namma chennai.Don't miss it! Have a look on it.
        </h4>
        <button type="button" class="button" [routerLink]="'/facts'">CLICK</button>
    </div>
  </div>

  
  
