<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<div class="all">
<div class="header">
    <h1>Fun Activities & Games in Chennai.</h1>
</div>
<div class="grid">
    <div *ngFor="let place of places" class="card">
      <div class="left">
        <img class="card__image" [src]="place.image" alt="">
      </div>
      <div class="right">
        <h1>{{ place.title }}</h1>
        <p>{{ place.address }}</p>
      </div>
    </div>
  </div>
  <div class="back">
    <button type="button" (click)="goBack()">Back</button> 
  </div>
  </div>
  