<div class="fullpage">
    <div class="whole">
        <header style="background-color:#f2f2f2;padding:10px;">
            <h3>BUDDY WELCOMES YOU 🤓</h3>
        </header>
        <div class="container">
            <div class="name">
                <h1>FACTS ABOUT CHENNAI🗯️ </h1>
            </div>
            <div class="cards">
                    <div *ngFor="let fact of facts" style="width: 50%;">
                        <div class="mine">
                           
                            <div class="card">
                                <img class="card__image" src={{fact.image}} alt="">
                                <div class="card__content">
                                    <p>
                                        {{fact.description}}
                                    </p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>