/* Styles for header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    max-width: 70px;
  }
  
  /* Styles for main content */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .banner {
background-image: url('https://media.istockphoto.com/id/965004050/photo/close-up-woman-hand-orders-a-taxi-from-his-mobile-smartphone-application.jpg?s=612x612&w=0&k=20&c=Ii8_45Lt5vlamdHGYHVWrL94xqOtW_7GcRZjEGknpk8=');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #e6d8d8;
  }
  
  .banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 24px;
    margin-bottom: 50px;
  }
  
 
  .services {
    margin-top: 2%;
    text-align: center;
  }
  
  .services h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .services ul {
    display: flex;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .services li {
    margin: 0 20px;
  }
  
  .services li img {
    max-width: 100px;
    margin-bottom: 20px;
  }
  
  .services li h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .services li p {
    font-size: 18px;
    color: #666;
  }
  /* Styles for footer */
  footer {
    background-color: #355070;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  footer p {
    font-size: 18px;
    margin: 0;
  }
  #booking-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  #booking-form input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  