
  @import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
      }
      .all h1{
        font-family: 'Yesteryear', cursive;
        align-items: center;
        text-align: center;
        font-size: 2rem;
          border: 1px solid black;
      }
      li {
        position: relative;
        height: 20%;
        width: 15rem;
        margin: 1rem;
        border-radius: 2rem;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease;
      }
      
      li:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
      li .content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.4rem;
        text-align: center;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        transform: translateY(100%);
        transition: transform 0.3s ease;
      }
      li:hover .content {
        transform: translateY(0);
      }
      li img{
        align-items: center;
        height: 100%;
        width: 100%;
      }
      