@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&family=Rampart+One&family=Tangerine:wght@700&display=swap');

body{
    height: 92.5vh;
    width:100%;
    margin:0;
    padding:0;
    font-family:'Montserrat', sans-serif;
    background-image: url(https://media.istockphoto.com/id/543562666/photo/happy-little-girl-with-big-sunglasses-looking-at-the-sun.jpg?s=612x612&w=0&k=20&c=aIsTCj5SC7hsODfT2B1sX0TOtEW_6oWIxjWeX4IfToo=);
  background-size:cover;
  background-repeat:no-repeat;
    overflow:hidden;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navigation a {
  color: #333;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin: 0 10px;
  padding-top: 10px;
  border-radius: 5px;
}
.navigation a.active {
  background-color: #adc5dd;
  color: #fff;
}
.right{
    padding-right:60px;
}
.right a {
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 10px;
    margin-top:-30px;
    margin-right:25px;
    padding: 10px;
    color:#C8C8C8;
    float: right;
    text-decoration: none;
}
.right a:hover{
    color:#f0eee3;
}
hr{ color:#C8C8C8;
    margin-top: -20px;
    margin-left:70px;
    margin-right:90px;
    align-content: center;
}
.text{
    margin-top:20px;
    width:500px;
    color:white;
    padding-left: 50px;
}
h5{
  font-family: 'Rampart One', cursive;
 font-weight:600;
 color:yellow;
 font-size:16px ;
padding-bottom: 0px;
}
h3{
  font-family: 'Quantico', sans-serif;
    margin-top: -20px;
    font-size:30px;
    letter-spacing:3px;
    font-weight:bold;
}
button{
    background-color: #FFD600;
    border:none;
    border-radius:8px;
    padding:15px 30px;
    font-size: 15px;
    font-weight:bold;
    text-align: center;
    margin-left:60px;
  cursor:pointer;
  outline:none;
}
button:hover{
   background-color: #f8f8f5;
}
.left-down-image{
    background-image: url(https://media.istockphoto.com/id/663261182/photo/northern-lights-in-mount-kirkjufell-iceland-with-a-man-passing-by.jpg?s=612x612&w=0&k=20&c=HnhkVPYRXShUWJEcZe3KEBNrOo51ImxPccjUg34MXt4=);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right top;
    position: relative;
    float:right;
    color:rgb(253, 253, 253);
    margin-right:20px;
    width:500px;
    height:170px;
    border:2px solid #FFD600;
    border-radius:2px ;
}
.left-down-image::after{
position: absolute;
content: '';
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.5);
z-index: 1;
}
.left-down-image h3{
    width:100px;
    padding-left:10px;
    margin-top:10px;
    margin-left:35px;
    font-size: 15px;
    color: #e67878;
    font-weight: bold;
    border-left:2px solid #FFD600;
    z-index: 2;
}
.left-down-image p{
    margin-top:-10px;
    padding-left:20px;
    line-height: 20px;
    font-size:15px;
    letter-spacing: 1px;
    color:rgb(253, 253, 253);
    font-weight:700;
    z-index: 2;
}
.myad {
  background-color: yellow; 
  padding: 25px;
  position: absolute;
  border: none;
  color: rgb(62, 108, 236);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  bottom: 40%;
  right: 87%;
  border-radius: 60%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 60% 80%, 60% 100%, 40% 80%, 0% 80%);
  animation: dance 2s ease-in-out infinite;
  border-radius: 50%;
  clip-path: circle(50% at center);

  }
  .pop{
    position: fixed;
    padding: 25px;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top:0;left: 0;
  }
  .fa-solid{
    align-items: right;
    left:20px;
    }
    .fas{
      top: 14%;
      right: 24%;
      position: fixed;
      z-index: 5;
      cursor: pointer;
    color: #3b080c;
    }

@media (max-width:1075px){
  body{
    background-size:cover;
    
  }
  .text{
    margin-top:100px;
  }
  .left-down-image{
    margin-right:50px;
    margin-top:-90px;
  }
}