<div class="container">
    <!-- buttons -->
<button type="button" class="button" routerLink="hotels">Hotels</button>
<button type="button" class="button" routerLink="explore">explore</button>
<button type="button" class="button" routerLink="famousplaces">Fun&Entertainment</button>
<button type="button" class="button" routerLink="more">More</button>
<button type="button" class="button" routerLink="musttry">Must Try</button>

<!-- search bar -->
 
        <div class="search">
        <input [(ngModel)]="searchQuery" type="text" name="search" placeholder="Confused Where To Go..." >
        </div>
        
        