   
 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

     <body>
        <div class="navigation">
        <a href="/hotel">Hotels</a>
        <a href="/explore">Explore</a>
        <a href="/more">More</a>
        <a href="/famousplaces">Famous Places</a>
        <a href="/musttry">Must Try</a>
        </div>
      <div class="text">
           <h5>Buddy</h5><br>
           <h3> Traveling alone? No problem.  <br> Our tours are the perfect opportunity to meet new people <br>and create unforgettable memories</h3>
      </div>
      <br>  
      <div class="button">
         <button  (click)="addfu()" class="myad"> Read More </button>
      </div>
      <section *ngIf="pop" class="pop">
        <section *ngIf="add" class="ad">
       <img src="../../assets/ad.png" alt="">
       <i  (click)="xfu()"class="fas fa-times" style="color: wheat;"></i>
        </section>
        </section>
     <br><br> <br>
      <div class="left-down-image">
        
            <div class="head">
               <h3>Travel with us!</h3>
                <br>
                <p>Take a trip with us and you'll never want to leave.<br> We promise to keep the adventure going </p>
            </div>
         </div>   
    <script src="https://kit.fontawesome.com/1c51b0c30c.js" ></script>
    </body>

